@import "variables";

main {
  flex: 3 1 $size-pe-100;
}

footer {
  flex: content;
  padding: $size-px-40;
  font-size: $font-size-13;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  height: $size-pe-100;
  display: flex;
  flex-direction: column;
}